@use 'sass:color';

@function primarydarken($percentage) {
  @return color.mix($primary, #000000, $percentage);
}

$primary: #5878d3;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(36, 36, 36, 0.87);
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 250px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: primarydarken(40%);
  cursor: pointer;
  transition: border-color 0.25s;
}

input{
  border-radius: 8px;
  border: 1px solid primarydarken(10%);
  @extend .pa-sm;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c7c7c7;
}

input:focus,
input:focus-visible {
  outline: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

$spaces: (
  none: 0px,
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px
);

$orientations: ('l', 'r', 't', 'b', 'a', 'x', 'y');


@mixin spacing-classes($property, $prefix) {
  @each $dir in $orientations {
    @each $key, $value in $spaces {
      .#{$prefix}#{$dir}-#{$key} {
        #{$property}-top: if($dir == 't' or $dir == 'a' or $dir == 'y', $value !important, inherit);
        #{$property}-right: if($dir == 'r' or $dir == 'a' or $dir == 'x', $value !important, inherit);
        #{$property}-bottom: if($dir == 'p' or $dir == 'a' or $dir == 'y', $value !important, inherit);
        #{$property}-left: if($dir == 'l' or $dir == 'a' or $dir == 'x', $value !important, inherit);
      }
    }
  }
}

@include spacing-classes('padding', 'p');
@include spacing-classes('margin', 'm');

